body {
  background-color: #FA7268;
  font-family: 'Abel', sans-serif;
}

.latest {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #FA7268;
  background-color: black;
  margin-bottom: 8em;
  position: relative;
  padding-top: 1em;
  /*width: 80%;*/
  /*max-width: 900px;*/
}

.time {
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: #FA7268;
  background-color: black;
  padding-top: 1em;
  margin-top: -1em;
  border-top-left-radius: 25px;
}

.number {
  width: 900px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*padding-left: 2em;*/
  padding-right: 2em;
  position: relative;
}

.latest div:last-child {
  margin-bottom: 1em;
  height: 100px;
  margin-top: -10px;
}


.title {
  font-size: 18px;
  width: 80px;
  padding-right: 1em;
  align-self: center;
  text-align: right;
  padding-bottom: 11px;
  padding-top: 10px;
  background-color: black;
  z-index: 10;
  padding-left: 2em;
}

.value {
  font-size: 48px;
  margin-right: 0.2em;
  width: 300px;
  text-align: left;
  z-index: 1;
  height: 75px;
  display: flex;
  align-items: center;
}

.value span {
  background-color: black;
  /*height: 100%;*/
  padding-top: 11px;
  margin-bottom: 10px;
  padding-bottom: 2px;
  padding-right: 16px;
}

.App {
  max-width: 900px;
  min-width: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

h1 {
  font-size: 64px;
  text-align: center;
}

.line {
  stroke-width: 2;
  stroke: #FA7268;
}

.chart {
  margin-left: -35px;
}

.number.disabled {
  opacity: 0.3;
  text-decoration: line-through;
}

.number svg {
  width: 800px;
  position: absolute;
  right: 2em;
  align-self: right;
  text-align: right;
  display: block;
}

.blocker {
  height: 100%;
  width: 1em;
  position: absolute;
  left: 0px;
  background-color: black;
  z-index: 10;
}

.critters {
  width: 100%;
  background-color: black;
  color: #FA7268;
  margin-top: -130px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom-right-radius: 25px;
}

.critters h2 {
  text-align: center;
  width: 100%;
}

.critters img {
  display: block;
  width: 100%;
  height: auto;
  filter: brightness(140%);
  opacity: 1.0;
  margin: 0px;
  mix-blend-mode: multiply;
}

.critters .critterimg {
  width: calc(50% - 2em);
  background-color: #FA7268;
  padding: 0px;
  margin-left: 1em;
  margin-right: 1em;
  }

.critters .grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.grid .domain {
  display: none;
}

.grid .tick line {
  stroke: #990f05 !important;
}